/* General Layout */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Let's use 8px a base multiplier */

h1,h2,h3,h4,h5 {
    margin-top: 0;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

/* Utilities */
.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

/* Board Styling */
.lists {
    display: table;
    width: 100%;
}

/* Lists */
.column {
    display: table-cell;
    width: 25%;
    padding: 0 24px;
    border-right: 2px solid #f5f5f5;
    border-left: 2px solid #f5f5f5;
}

.column:first-child {
    border-left: none;
}

.column:last-child {
    border-right: none;
}

.column h2 {
    text-align: center;
}

/* Form Styles */
.form-item {
    margin-bottom: 16px;
}

textarea {
    width: 99%;
}

/* Modal Styles */
.modal {
    max-width: 720px;
    margin: 0 auto;
    background: #f5f5f5;
    padding: 36px;
}
